.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  padding: 10px;
  font-size: 16px;
}

.ticketSection {
  margin-top: 20px;
}

.ticketGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addButton,
.submitButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #bd2a2a;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.addButton:hover,
.submitButton:hover {
  background-color: #f10707;
}
